@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Mission 5";
}

<!--
    Kimball Owen Mission 5

-->
<!--My name, a hobby, hopes for IS413, and career interests-->

<h1>Kimball Owen</h1>

<img id="skipic" src="img/skiing.jpg" width='300' />
<br />

<span>I hope to learn some valuable skills leading into my internship this summer.</span>
<span>I have had little experience with strongly typed languages as well so getting some exposure to C# will be good experience.</span>
<span>In general, I enjoy doing web development because you can write code and then see what it does, or what it doesn't do lol.</span>

<ul>
    <li>Technology Consultant</li>
    <li>Data Analyst</li>
    <li>Web Developer</li>
</ul>